body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: darkgrey;
  text-align: center;
  position: relative;
}

body header {
  background-color: cadetblue;
  color: white;
  padding: 1em;
  display: inline-block;
}

@media (min-width: 768px) {
  body header {
    background-color: chocolate;
  }
  body header span {
    display: none;
  }
}

@media (min-width: 1200px) {
  body header {
    background-color: blueviolet;
  }
}

body header nav {
  padding: 1em;
  background-color: yellowgreen;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 1200px) {
  body header nav {
    position: unset;
    margin: 0 150px 0 150px;
    height: 100%;
    border: 1px solid transparent;
  }
}

body header div {
  border: 1px solid white;
  display: none;
}

@media (min-width: 768px) {
  body header div {
    display: unset;
    width: 80px;
    padding: 1em;
  }
  body header div:first-of-type {
    display: inline-block;
    float: left;
    height: 59px;
  }
  body header div:last-of-type {
    float: right;
  }
}

@media (min-width: 1200px) {
  body .content {
    display: inline-block;
    height: 100%;
    position: relative;
  }
  body .content main {
    float: left;
    width: 80%;
  }
  body .content aside {
    width: calc( 20% - 5px);
    float: left;
    margin-left: 5px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

body .container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto 5px auto;
}

body section.hero {
  background-color: goldenrod;
  padding: 3em;
}

body aside {
  background-color: red;
  padding: 1em;
  display: none;
}

@media (min-width: 1200px) {
  body aside {
    display: block;
  }
}

body main section {
  padding: 1em;
  background-color: darkseagreen;
  margin-bottom: 5px;
}

body main section.testimonials {
  display: inline-block;
  width: 100%;
}

@media (min-width: 1200px) {
  body main section.testimonials {
    display: none;
  }
}

@media (min-width: 768px) {
  body main section.testimonials.clone {
    display: none;
  }
}

@media (min-width: 1200px) {
  body main section.testimonials.clone {
    display: inline-block;
  }
}

body main section.services {
  display: inline-block;
  width: 100%;
}

body main section.clone {
  display: none;
}

@media (min-width: 768px) {
  body main section.freelance {
    display: none;
  }
  body main section.freelance.clone {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }
}

body main section span {
  color: navy;
}

body main section span:not(:last-child) {
  display: block;
  margin-bottom: 1em;
}

body main section div * {
  padding: 3em 1em;
  background-color: white;
  margin: 5px;
}

@media (min-width: 768px) {
  body main section div * {
    padding: 0;
    margin: 0;
  }
}

body main section div .col-6 {
  display: inline-block;
  height: 100px;
  width: 100%;
}

@media (min-width: 768px) {
  body main section div .col-6 {
    width: calc( 50% - 10px);
    margin: 0 5px;
    float: left;
  }
}

body main section div .col-4 {
  display: inline-block;
  height: 100px;
  width: 100%;
}

@media (min-width: 768px) {
  body main section div .col-4 {
    width: calc( 50% - 10px);
    margin: 0 5px;
    float: left;
  }
  body main section div .col-4:nth-child(n+3) {
    display: none;
  }
}

@media (min-width: 1200px) {
  body main section div .col-4 {
    width: calc( 33% - 10px);
    margin: 0 5px;
  }
  body main section div .col-4:nth-child(n+3) {
    display: unset;
  }
}

body footer {
  background-color: indigo;
  color: white;
  padding: 1em;
}

body footer.container {
  margin-bottom: 4em;
}
/*# sourceMappingURL=block.css.map */